form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #2b2b2b;
  color: white;
}

button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #5b5be6, #7c8cff);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
